<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">

<h1>PLT Lines</h1>

<% if current_user.role === 'Scrum Master' %>
    <%= link_to "Add New Line", '#newModal', class: "btn btn-primary", data: { toggle: "modal", target: "#newModal" } %><br>
<% else %>
    <p>If you need a line added, please contact your scrum master</p>
<% end %>

<table class="table">
          <thead>
            <tr>
              <th>Line</th>
              <th>Work</th>
              <th>Scrum Master</th>
            </tr>
          </thead>
          <tbody>
            <% @line.each do |line| %>
             <tr class="<%= 'success' if current_user.line_id === line.id %>">
              <td><%= best_in_place line, :line_name, :as => :input %></td>
              <td><%= best_in_place line, :line_work %></td>
              <% if current_user.line_id === line.id && current_user.role === 'Scrum Master' %>
                <td>You</td>
              <% elsif @user.where(:line_id => line.id, :role => 'Scrum Master').exists? %>
                <td><%= @user.where(:line_id => line.id, :role => 'Scrum Master').first.first_name + ' ' + @user.where(:line_id => line.id, :role => 'Scrum Master').first.last_name %></td>
              <% else %>
                <td></td>  
              <% end %>
                  <% if current_user.role === 'Scrum Master' %>
                      <td><%= button_to "Edit Line", edit_line_path(line) , :method => :get, class: "btn btn-primary"  %></td>
                      <td><%= button_to "Delete Line", line_path(line), :method => :delete, class: "btn btn-danger", data: {confirm: 'Are you sure you want to delete this line?'} %></td>
                  <% end %>
                  <% if current_user.line_id === line.id %>
                      <td><%= button_to "Leave Line", leave_line_path(line.id), :method => :get, class: "btn btn-danger" %></td>
                  <% end %>
                  <% if current_user.line_id.nil? && @user.where(:line_id => line.id, :role => 'Scrum Master').exists? && current_user.role === 'Scrum Master' %>
                      <td></td>
                  <% elsif current_user.line_id.nil? %>
                      <td><%= button_to "Join Line", add_to_line_path(line.id), :method => :get, class: "btn btn-primary" %></td>
                  <% end %>
              </tr>
            <% end %>
          </tbody>
        </table>
        
      </div>
	  </div>
  </div>
        
         <div class="modal fade" id="newModal"><!-- closed --->
  <div class="modal-dialog"><!-- closed --->
    <div class="modal-content"><!-- closed --->
      <div class="modal-header"><!-- closed --->
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Add New Line</h4>
      </div><!-- closed --->
        <%= form_for @line_new do |f| %>
      <div class="modal-body"><!-- closed --->
        <div class="col-md-12"><!-- closed --->
            
              <div class="field"><!-- closed --->
                <%= f.label :line_name %><br/>
                <%= f.text_field :line_name, autofocus: true %>
              </div><!-- closed --->
  
              <div class="field"><!-- closed --->
                <%= f.label :line_work %><br/>
                <%= f.text_field :line_work, autofocus: true %>
              </div><!-- closed --->
  
            </div><!-- closed --->
          </div><!-- closed --->
      <div class="modal-footer"><!-- closed --->
        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
         <%= f.submit "Add Line",  class: "btn btn-primary" %>
        <% end %>
      </div><!-- closed --->
    </div><!-- /.modal-content --><!-- closed --->
  </div><!-- /.modal-dialog --><!-- closed --->
</div><!-- /.modal --><!-- closed --->
