<h1>Update Info:</h1>
<p><%= @line.line_name %></p>
<p><%= @line.line_work %></p>

<%= link_to "Make Changes", edit_line_path %>
<%= link_to "Back to Lines Page", lines_path %>
<%= link_to "Home", root_path %>
