<div class="container-fluid">
    <%= form_for @interaction do |f| %>
    <h1>Add New Interaction</h1>
	<div class="row">
		<div class="col-md-4">
    <%= f.label :interaction_name, "Interaction Name" %><br>
    <%= f.text_field :interaction_name %><br>
    
    <%= f.label :interface, "Interface" %><br>
    <%= f.text_field :interface %><br>
    
   
    
    </div>
    <div class="col-md-4">
      <%= f.label :data_mapping, "Data Mapping?" %>
    <%= f.check_box :data_mapping %><br>
    
    <%= f.label :rrc_version, "RRC Version" %>
    <%= f.text_field :rrc_version %><br>    
        
    <div>
    <%= f.label :plt_crossline_dep, "PLT Crossline Dependencies?" %>
    <%= f.check_box :plt_crossline_dep, :id => "plt_crossline_dep" %><br>
    </div>
    
    <div id="plt_dep_dets" style="display:none">
    <%= f.label :plt_dep_dets, "PLT Crossline Dependencies Details:" %><br>
    <%= f.text_field :plt_dep_dets %><br>
    </div>
    
    <%= f.label :pc_changes, "PC Changes made?" %>
    <%= f.check_box :pc_changes , :id => "pc_changes" %><br>
    
    <div id="pc_changes_details" style="display:none;">
    <%= f.label :pc_changes_type, "PC Changes Details:" %><br>
    <%= f.text_field :pc_changes_type %><br>
    </div>
    
 
    </div>
    <div class="col-md-4">
        
         <%= f.label :ia_changes, "IA Changes made?" %>
    <%= f.check_box :ia_changes, :id => "ia_changes" %><br>  

    <div id="ia_changes_details" style="display:none;">
    <%= f.label :ia_changes_type, "IA Changes Details" %><br>
    <%= f.text_field :ia_changes_type %><br>
    </div>
    
    <%= f.label :plugin_changes, "Plug-in Changes Details" %>
    <%= f.check_box :plugin_changes, :id => "plugin_changes" %><br>
    
    <div id="plug_changes_type" style="display:none;">
    <%= f.label :plug_changes_type, "Plug-in Changes Details:" %><br>
    <%= f.text_field :plug_changes_type %><br>
    </div>
    
    <%= f.label :db_script, "DB Script Changes Made?" %>
    <%= f.check_box :db_script, :id => "db_script" %><br>
    
    <div id="db_script_type" style="display:none;">
    <%= f.label :db_script_type, "DB Script Change Details:" %><br>
    <%= f.text_field :db_script_type %><br>
    </div>
    
    <%= f.label :external_changes, "External Changes made?" %>
    <%= f.check_box :external_changes, :id => "external_changes" %><br>
    
    <div id="external_changes_type" style="display:none;">
    <%= f.label :external_changes_type, "External Changes Details:" %><br>
    <%= f.text_field :external_changes_type %><br>
    </div>
    </div>
    <div class="col-md-12">
     <%= f.label "Notes from Release Meeting" %><br>
    <%= f.text_area :notes_from_release, cols: "150", rows: "5" %><br>    
        
    <%= f.label :issues_defects, "Issues/Defects" %><br>
    <%= f.text_area :issues_defects, cols: "150", rows: "5" %><br>
    
    <%= f.label :workarounds %><br>
    <%= f.text_area :workarounds, cols: "150", rows: "5"  %><br>
    
    <%= f.submit "Add Interaction", class: 'btn btn-primary' %>
<% end %>
<%= link_to "Back", interactions_path %>
<%= link_to "Home", root_path %>
	</div>
</div>
</div>