<div class="container-fluid">
	<div class="row">
		<div class="col-md-6">
      <%= form_for @defect do |f| %>
      <div class="field">
        <%= f.label :defect_no %>
        <%= f.text_field :defect_no %>
      </div>
      <div class="field">
        <%= f.label :rtc %>
        <%= f.text_field :rtc %>
      </div>
      <div class="field">
        <%= f.label :qc %>
        <%= f.text_field :qc %>
      </div>
      <div class="field">
        <%= f.label :config %>
        <%= f.text_field :config %>
      </div>
    </div>
    <div class="col-md-6">
      <div class="field">
        <%= f.label :data_mapping_def %>
        <%= f.check_box :data_mapping_def %>
      </div>
      <div class="field">
        <%= f.label :pc_changes_def %>
        <%= f.check_box :pc_changes_def %>
      </div>
      <div class="field">
        <%= f.label :plugin_changes %>
        <%= f.check_box :plugin_changes %>
      </div>
        <div class="field">
        <%= f.label :ia_changes %>
        <%= f.check_box :ia_changes %>
      </div>
        <div class="field">
        <%= f.label :db_changes_def %>
        <%= f.check_box :db_changes_def %>
      </div>
        <div class="field">
        <%= f.label :external_changes_def %>
        <%= f.check_box :external_changes_def %>
      </div>
        <div class="field">
        <%= f.label :workarounds %><br>
        <%= f.text_area :workarounds %>
        <%= f.hidden_field :iteration_id, value: params['iteration_id'] %>
      </div>
      <%= f.submit "Add New Defect to Iteration #{Iteration.find(@iteration.id).iteration_number}, Drop #{Iteration.find(@iteration.id).drop_number}" ,  class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
</div>