<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
		  <h1><%= "Release notes for Iteration #{@iteration.iteration_number}, Drop #{@iteration.drop_number}" %></h1>

<div class="container-fluid">
    <div class="row-fluid">
        <div class="span8 well">
            <ul class="nav nav-tabs">
                <li class="active"> <a href="#interactions" data-target="#interactions" data-toggle="tab">Interaction Report</a></li>
                <li><a href="#defects" data-target="#defects" data-toggle="tab">Defect Report</a></li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active fade in" id="interactions">
                		<div class="table-responsive">
		  		<table class="table table-striped table-hover">
		  		    <% @line.each do |line| %>
		  		    <thead class="bg-primary">
		  		        <tr>
		  		        	<th colspan="5"><%= line.line_name %></th>
		  		       		<th colspan="5"><%= line.line_work %></th>
		  		        	<th colspan="7">Scrum Master: <%= @user.where(:line_id => line.id, :role => 'Scrum Master').first.first_name + ' ' + @user.where(:line_id => line.id, :role => 'Scrum Master').first.last_name unless  @user.where(:line_id => line.id, :role => 'Scrum Master').first === nil %></th>
		  		        </tr>
		  		    </thead>
		  		    <thead>
		  		        <tr>
		  		        	<th></th>
		  		            <th>Interaction Name</th>
		  		            <th>Interface</th>
		  		            <th>RRC Version</th>
		  		            <th>Data Mapping?</th>
		  		            <th>PLT Crossline Dependency?</th>
		  		            <th>PC Changes?</th>
		  		            <th>Plug-in Changes?</th>
		  		            <th>IA Changes?</th>
		  		            <th>DB Script Changes?</th>
		  		            <th>External Changes?</th>
		  		            <th>Added By</th>
		  		        </tr>
		  		    </thead>
		  		       <tbody>
		  		           <% @interaction.each do |interaction| %>
		  		               <% if interaction.line_id === line.id %>
		  		           <tr>
		  		           	  <% button_id = "see_details_for_interaction_id_" + interaction.id.to_s %>
		  		           	  <% table_head = "table_head_" + interaction.id.to_s %>
		  		           	  <% table_set =  "table_set_" + interaction.id.to_s %>
		  		           	  <td><%= link_to 'See Details', interaction_path(interaction), class: "btn btn-primary" %></td>
		  		              <td><%= interaction.interaction_name  %></td>
		  		              <td><%= interaction.interface %></td>
		  		              <td><%= interaction.rrc_version %></td>
		  		              <td><%= interaction.data_mapping ? 'yes' : 'no' %></td>
		  		              <td><%= interaction.plt_crossline_dep ? 'yes' : 'no' %></td>
		  		              <td><%= interaction.pc_changes ? 'yes' : 'no' %></td>
		  		              <td><%= interaction.plugin_changes ? 'yes' : 'no' %></td>
		  		              <td><%= interaction.ia_changes ? 'yes' : 'no' %></td>
		  		              <td><%= interaction.db_script ? 'yes' : 'no' %></td>
		  		              <td><%= interaction.external_changes ? 'yes' : 'no' %></td>
		  		              <% user = @user.find(interaction.owner_id) unless interaction.nil? %>
		  		              <td><%= user.first_name + ' ' + user.last_name %></td>
		  		              <% if current_user.id === interaction.owner_id %>
		  		                  <td><%= link_to "Edit", edit_interaction_path(interaction), class: "btn btn-primary" %></td>
		  		                  <td><%= link_to "Delete", interaction_path(interaction), :method => :delete, class: "btn btn-danger" %></td>
		  		               <% end %>
		  		            <td><%= link_to "Clone to another iteration", clone_interaction_iteration_path(interaction), class: "btn btn-primary" %></td>
		  		           </tr> 
		  		       
		  		           </div>
		  		             <% end %>
		  		       </tbody>
		  		       <% end %>
		  		        <% end %>
		  		</table>
			</div>
                </div>
                <div class="tab-pane" id="defects">
                <div class="table-responsive">
		  		<table class="table table-striped table-hover">
		  			<% @line.each do |line| %>
		  		    <thead class="bg-primary">
		  		        <tr>
		  		        	<th colspan="5"><%= line.line_name %></th>
		  		       		<th colspan="5"><%= line.line_work %></th>
		  		        	<th colspan="7">Scrum Master: <%= @user.where(:line_id => line.id, :role => 'Scrum Master').first.first_name + ' ' + @user.where(:line_id => line.id, :role => 'Scrum Master').first.last_name unless  @user.where(:line_id => line.id, :role => 'Scrum Master').first === nil %></th>
		  		        </tr>
		  		    </thead>
		  		    <thead>
		  		        <tr>
		  		            <th>Defect Number</th>
		  		            <th>RTC Number</th>
		  		            <th>QC Number</th>
		  		            <th>Config</th>
		  		            <th>Data Mapping?</th>
		  		            <th>PC Changes?</th>
		  		            <th>Plug-in Changes?</th>
		  		            <th>IA Changes?</th>
		  		            <th>DB Script Changes?</th>
		  		            <th>External Changes?</th>
		  		            <th>Workarounds</th>
		  		            <th>Added By</th>
		  		        </tr>
		  		    </thead> 
		  		    <tbody>
		  		    	<% @defect.each do |defect| %>
		  		    <tr>
		  		    	<% if defect.line_id === line.id %>
		  		    		<td><%= defect.defect_no %></td>
		  		    		<td><%= defect.rtc %></td>
		  		    		<td><%= defect.qc %></td>
		  		    		<td><%= defect.config %></td>
		  		    		<td><%= defect.data_mapping_def ? 'yes' : 'no' %></td>
		  		    		<td><%= defect.pc_changes_def ? 'yes' : 'no' %></td>
		  		    		<td><%= defect.plugin_changes_def ? 'yes' : 'no' %></td>
		  		    		<td><%= defect.ia_changes_def ? 'yes' : 'no' %></td>
		  		    		<td><%= defect.db_changes_def ? 'yes' : 'no' %></td>
		  		    		<td><%= defect.external_changes_def ? 'yes' : 'no' %></td>
		  		    		<td><%= defect.workarounds %></td>
		  		    		<% user = @user.find(defect.owner_id) unless defect.nil? %>
		  		              <td><%= user.first_name + ' ' + user.last_name %></td>
		  		    		<% if current_user.id === defect.owner_id %>
		  		                  <td><%= link_to "Edit", edit_defect_path(defect), class: "btn btn-primary" %></td>
		  		                  <td><%= link_to "Delete", defect_path(defect), :method => :delete, class: "btn btn-danger" %></td>
		  		               <% end %>
		  		           	<td><%= link_to "Clone to another iteration", clone_defect_iteration_path(defect), class: "btn btn-primary" %></td>
		  		    	<% end %>
		  		    	<% end %>
		  		    </tr>
		  		    </tbody>
		  			<% end %>
		  		</table>
		  		</div>
		  		</div>
            </div>
        </div>
    </div>
</div>


			</div>
		</div>
	</div>
</div>

